<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--定义折叠按钮-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseDiv" aria-expanded="false">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" [routerLink]="['/main']">MyLogo     </a>
            </div>
            <div class="collapse navbar-collapse" id="collapseDiv">
                <ul class="nav navbar-nav">
                    <li [ngClass]="{'active':navItemArr[0]}" (click)="navChange(0)"><a [routerLink]="['/main/animate']">Animation</a></li>
                    <li [ngClass]="{'active':navItemArr[1]}" (click)="navChange(1)"><a [routerLink]="['/main/jquery']">Jquery</a></li>
                    <li [ngClass]="{'active':navItemArr[2]}" (click)="navChange(2)"><a href="#">Third</a></li>
                    <li [ngClass]="{'active':navItemArr[3]}" (click)="navChange(3)"><a href="#">Fourth</a></li>
                    <li [ngClass]="{'active':navItemArr[4]}" (click)="navChange(4)"><a href="#">Fiveth</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>